In [22]:
from circleguard import *
import pandas as pd
import numpy as np

In [23]:
cg = circleguard.circleguard.Circleguard("aaca10f746d66e41b77bdd5e8fb4c04c59585aa4")

In [28]:
map_replay = cg.ReplayPath('C:/Users/joshu/Desktop/CircleGuard/replays/replay1.osr')

In [ ]:
cg.load(map_replay)

In [37]:
print(map_replay.xy)

[[212.1979 166.0117]
 [211.8073 165.6162]
 [211.9375 164.166 ]
 ...
 [246.7292 227.6377]
 [263.9167 217.9844]
 [272.5365 211.9492]]

In [63]:
dir(cg);

In [56]:
frametimes = cg.frametimes(map_replay)

In [71]:
avg_f = cg.frametime(map_replay)
avg_f

16.0

In [40]:
columnLabels = ['x','y']

In [41]:
df = pd.DataFrame(data=map_replay.xy, columns=columnLabels)

In [87]:
tail = pd.DataFrame({'frameT/ms': [avg_f]})

In [88]:
tail.head()

   frameT/ms
0       16.0

In [94]:
df2 = pd.DataFrame(data=frametimes, columns=['frameT/ms'])
df2 = pd.concat([df2,tail], ignore_index=True)
df2['time/ms'] = df2['frameT/ms'].cumsum()

In [95]:
df2.tail()

       frameT/ms   time/ms
36506       13.0  527871.0
36507       14.0  527885.0
36508       19.0  527904.0
36509       16.0  527920.0
36510       16.0  527936.0

In [96]:
df.head()

          x         y
0  212.1979  166.0117
1  211.8073  165.6162
2  211.9375  164.1660
3  211.2865  163.5215
4  211.2865  163.1260

In [97]:
print(len(df),len(df2))

36511 36511

In [98]:
data = pd.concat([df, df2], axis=1)

In [99]:
data.head()

          x         y  frameT/ms  time/ms
0  212.1979  166.0117        0.0      0.0
1  211.8073  165.6162        5.0      5.0
2  211.9375  164.1660       16.0     21.0
3  211.2865  163.5215       17.0     38.0
4  211.2865  163.1260       15.0     53.0

In [100]:
data.tail()

              x         y  frameT/ms   time/ms
36506  232.5625  231.0508       13.0  527871.0
36507  237.1458  230.0693       14.0  527885.0
36508  246.7292  227.6377       19.0  527904.0
36509  263.9167  217.9844       16.0  527920.0
36510  272.5365  211.9492       16.0  527936.0